:root {
    --color-primaire: #1C263D;
    --color-secondaire: #DDE2C6;
    
    --color-other1: #A62609;
    /* --color-other1: #A62609; */
    --color-other2: #4cd137;
    --color-other3: #97999B;

    --color-police: #2f3640;
    --color-background: #E6EED6;
  }

@font-face {
    font-family: 'Police1';
    src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Police2';
    src: url('../fonts/Edu_QLD_Beginner/EduQLDBeginner-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    font-family: "Police1";
  }
  
  label {

    margin-bottom: 5px;
    color : var(--color-police);
  }